ul {
  display: inline-block;
}

ul li {
  color: black;
  float: left;
  padding: 6px 12px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

ul li.active {
  background-color: #d6d6d6;
  color: white;
  border: 1px solid #d6d6d6;
}
ul li:hover:not(.active) {
  background-color: #ddd;
}
